<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{exp:seo_lite url_title="{segment_3}"}
	<meta name="author" content="Seoulist Media" /> 
	<link rel="stylesheet" href="http://seoulistmag.com/_css/reset.css" type="text/css" media="screen" charset="utf-8" /> 
	<link rel="stylesheet" href="http://seoulistmag.com/_css/stylesheet.css" type="text/css" media="screen" charset="utf-8" /> 
	<!--[if IE 7]>
	<link rel="stylesheet" href="_css/ie7.css" type="text/css" media="screen" charset="utf-8" /> 
	<![endif]-->
	<link rel="alternate" type="application/rss+xml" title="Seoulist" href="http://seoulistmag.com/rss/seoulistmag_recentarticles/" /> 
	<link rel="shortcut icon" href="{path=site_index}favicon.png"/> 
	<link rel="apple-touch-icon" href="{path=site_index}seoulist_bug.png"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
	<script src="http://seoulistmag.com/_js/global.js" type="text/javascript"></script>
	<script src="http://seoulistmag.com/_js/jquery.hoverIntent.minified.js" type="text/javascript"></script>
	<script src="http://seoulistmag.com/_js/cufon-yui.js" type="text/javascript"></script>
	<script src="http://seoulistmag.com/_js/slides.min.jquery.js" type="text/javascript"></script>
	<script src="http://seoulistmag.com/_fonts/Sentinel_325-Sentinel_400-Sentinel_italic_325-Sentinel_italic_400.font.js" type="text/javascript"></script>
	<script type="text/javascript">
		Cufon.replace(
			    	'h3 a, #article_meta li a, ul#search_results li h3 a, .sidebar_module ol li a', {hover: 'true'}
			    );
		Cufon.replace(
			    	'h3 a, .cufon_here, .byline, ul#columns h2, h2.section_title, h2.article_title, #article .logline, blockquote, #article_meta li, .sidebar_module ol'
			    );
	</script>	
</head>
<!-- End Header Template -->