{embed="includes/header"}
		{embed="includes/masthead"}
<!-- Begin Error -->
		<div id="dialogue" class="section_module">
		<h2 class="section_title">Yikes! {heading}</h2>
			<div id="error_container">
	            <div class="error_content">
	                {content}
				</div>
				<p><a href="{referrer}">Return to the previous page</a></p>
				<p><a href="{site_path}">Back to SeoulistMag.com</a></p>
			</div>
			{embed="includes/sidebar-search"}
		</div>
<!-- End Error -->
		{embed="includes/footer"}